<!doctype html>
<html>
<head>
    <title>Cyrena Tic Tac Toe</title>

    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css"/>

    <script src="/javascripts/zepto.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/client.js"></script>
</head>
<body>

<div id="reset">Reset Game</div>

<div class="players">
    <div id="playerX" class="player playerX">Player X</div>
    <div id="playerO" class="player playerO">Player O</div>
</div>

<div class="play-area" style="display: none">
    <span id="playerName"></span>
    <div id="playBoard">
    </div>
</div>

</body>
</html>